/* table.sellerstable{
  border-collapse: separate;       
  border-spacing: 0 10px;          
  border-radius: 10px;
  width: 100%;
  background-color: transparent;   
  font-family: 'Outfit', sans-serif;
 } 
  */