 @import '../styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; // reduced spacing for tighter layout
  padding: 0 12px; // optional: horizontal padding for alignment
}

.dashboard-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

.profile {
  font-weight: bold;
  color: $primary;
  font-size: 1rem;
  color: #b8860b;
}